
*root{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(../imagens/fundo.webp);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

img{
    width: 200px;
    height: 200px;
    border: 1px solid white;
    border-radius: 50%;
}

h1{
    color: white;
}

button{
    width: 450px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #E645D5;

    margin-top:35px;
    background-color: #332F2E;
    color: white;
}

a > button > p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;

}

button:hover{
    background-color: #7c7b7c;
    cursor: pointer;
}